/* styles.css */
.session-container {
  display: flex;
  height: 100vh;
  margin-top: -20px;
  margin-left: -10px;
  position: relative;
}

.session-sidebar {
  width: 250px;
  background-color: white;
  padding: 10px;
  transition: width 0.3s;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 右侧阴影 */
}

.session-sidebar.collapsed {
  width: 50px;
}

.session-sidebar-button {
  margin-bottom: 16px;
  text-align: center;
}

/* 新建团队按钮容器 */
.new-con-container {
  position: relative; /* 为提示框定位 */
}

/* 提示框 */
.new-con-tooltip {
  display: none; /* 默认隐藏 */
  position: absolute;
  left: 100%; /* 提示框显示在按钮右侧 */
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; /* 与按钮的间距 */
  padding: 5px 10px;
  background-color: black; /* 背景为黑色 */
  color: white; /* 字体为白色 */
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000; /* 确保提示框在最上层 */
}

/* 边栏收缩时，鼠标悬停显示提示框 */
.session-sidebar.collapsed .new-con-container:hover .new-con-tooltip {
  display: block;
}

.session-content {
  flex: 1;
  padding: 16px;
}

.session-team-dropdown {
  width: calc(100% - 20px);
  margin-bottom: 16px;
}

.session-team-name {
  margin-top: 5px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 5px;
}

.con-list-container{
  flex: 1; /* 占据剩余空间*/
  overflow: auto;
  margin-top: 30px; /* 与上面的按钮保持一点间距*/
  max-height: calc(100vh - 250px); /*设置最大高度，确保内容可以滚动*/
}

.con-list-container ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 团队项 */
.con-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #e0e0e0; /* 默认背景色 */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.con-item:hover {
  background-color: #f1f1f1; /* 鼠标悬停时背景色 */
}

.con-item.selected {
  background-color: #a0a0a0; /* 选中时背景色加深 */
}

.no-con-selected {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 30px;
  color: #888;
}